/* ------Google Fonts----- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
#homepage-container {
  width: 100%;
  height: 1000px;
}

/* ------------Header Start------------ */
.header {
  width: 100%;
  height: 700px;
  background-color: #404eed;
}
/* -----Navbar----- */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin-left: 8%;
  font-weight: bold;
  cursor: pointer;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-weight: 600;
}

.navbar-links li:hover {
  background-color: #404eed;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.navbar .navbar-authentication {
  width: 100px;
  margin-right: 5%;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background-color: aliceblue;
  color: navy;
  text-align: center;
  padding: 0.5rem;
  border-radius: 35px;
}
.navbar .navbar-authentication:hover {
  box-shadow: 5px 5px 5px #b1adad59;
}

/* ---Header Content--- */
.header-content-container {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header-content-container .header-img {
  margin-right: 3%;
}
.header-content-container .header-img img {
  width: 100%;
}

.header-content {
  padding: 1.5rem;
}

.header-content-btn {
  position: relative;
}
.header-content-btn button {
  margin: 1rem;
  position: relative;
  left: 10%;
  border-radius: 35px;
  border: none;
  padding: 1.3rem;
  font-size: 1rem;
  font-weight: 500;
  color: navy;
  cursor: pointer;
}

.header-content-btn button:hover {
  box-shadow: 5px 5px 5px #b1adad59;
}

/* ------Header Part End----- */

/* ------Body Part Start------- */

/* ---info--- */
.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 500px;
}
.info-img img {
  width: 100%;
  margin: 0 auto;
}
.info .info-content {
  position: relative;
  top: 30%;
}
.info-content h1 {
  font-size: 3rem;
  text-shadow: 2px 2px #ebe6e6cc;
}
/* ------Body Part End------- */
